player-connection-mode=Listen
player-connection-guid=1215265227
player-connection-debug=0
player-connection-project-name=CookApps_Assignment
player-connection-ip=192.168.56.1
player-connection-ip=192.168.55.25
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=d518d2dc63f94f9593b8034180531caa
