<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.team10">
    <!-- firebase -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Team10">
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.Main" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatRoomActivity"
            android:exported="false" /> <!-- android:networkSecurityConfig="@xml/network_security_config" = 네트워크 허용을 위함 -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"/>
        <activity android:name=".FragActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".MatchingActivity" />
        <activity android:name=".ResultActivity"/>
        <activity android:name=".TestActivity"/>

    </application>

</manifest>